<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.author&.first_name %></strong>
    <% if message.created_at %>
      <i><%= message.created_at.strftime("%d/%m/%Y à %H:%M") %></i>
    <% end %>
  </small>
  <p><%= message.content %></p>
</div>
