.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

  .card {
    height: 250px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    .card-body {
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
