<h1>User Profil</h1>


<p><strong>Description :</strong> <%= @user.description %></p>
<p><strong>Statut :</strong> <%= @user.status %></p>
<p><strong>Ville :</strong> <%= @user.city %></p>
<%= link_to 'Retour à la liste des utilisateurs', users_path %>
