<h2 class="mt-5">Rechercher un service</h2>

<%= simple_form_for :search, url: search_path, method: :get, html: { class: 'd-flex mt-3' } do |f| %>
  <div class='col flex-grow-1 me-2'>
    <%= f.input :city,
                required: false,
                label: false,
                as: :string,
                input_html: {
                              name: 'city',
                              class: 'form-control',
                              placeholder: 'Ville : Paris, Toulouse, ...',
                              value: params[:city]
                            }
    %>
  </div>
  <div class="col flex-grow-1 me-2">
    <%= f.input :category,
                label: false,
                required: false,
                collection: Category.all.map(&:name),
                selected: params[:category],
                include_blank: 'Catégorie : Bricolage, Informatique, ...',
                wrapper: false,
                label_html: { class: 'visually-hidden' },
                input_html: { name: 'category', class: 'form-select' }
    %>
  </div>
  <div class="col-auto">
    <%= f.button :submit, 'Rechercher', class: 'btn btn-primary px-5' %>
  </div>
<% end %>
