.mapboxgl-popup {
  max-width: 200px;
  border-radius: 3px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map.col-4.rounded-5.border.shadow.overflow-hidden {
  width: 100%;
}