.navbar-lewagon {
  justify-content: space-between;
  background: $blue;

  .dropdown-toggle:hover {
    cursor: pointer;
  }

  .dropdown-item:hover {
    background-color: $blue;
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
